@model IEnumerable<Mood.Models.Survey>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <h1>Your Surveys:</h1>
    <ul>
        @foreach (var survey in Model)
        {
            <li>
                <button type="button" class="btn btn-default glyphicon glyphicon-trash" data-toggle="modal" data-target="#confimDelete@(survey.Id)"></button>
                <a class="btn btn-default glyphicon glyphicon-scale" href="@Url.Action("Results", "Survey", new { Id = survey.Id })"></a>
                @Html.ActionLink(survey.Description, "View", "Survey", new { Id = survey.Id }, new { })
            </li>
        }
        <li>@using (Html.BeginForm("Create", "Survey"))
        {
            <input type="submit" value="Create New: " class="btn btn-default" />
            @Html.TextBox("description", "How is your workday going?", new { size = "50" })
        }</li>
    </ul>
</div>

@foreach (var survey in Model)
{
<div id="confimDelete@(survey.Id)" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div classs="modal-header">
                <h3>Are you sure you want to delete survey "@(survey.Description)"?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                @Html.ActionLink("Delete", "Delete", "Survey", new { id = survey.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
}