@model IEnumerable<Mood.Models.Survey>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <h1>Your Surveys:</h1>
        <div class="table">
        @foreach (var survey in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink(survey.Description, "View", "Survey", new { Id = survey.Id }, new { @class = "btn btn-link" })
                </div>
                <div class="col-md-2">
                    <a class="btn btn-default glyphicon glyphicon-signal" href="@Url.Action("Results", "Survey", new { Id = survey.Id })"></a>
                    <button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#confimDelete@(survey.Id)"></button>
                </div>
            </div>
            <hr/>
        }
        @using (Html.BeginForm("Create", "Survey"))
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.TextBox("description", "How is your workday going?", new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" value="" class="btn btn-success glyphicon glyphicon-plus" />
                </div>
            </div>
        }
</div>



@foreach (var survey in Model)
{
<div id="confimDelete@(survey.Id)" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div classs="modal-header">
                <h3>Are you sure you want to delete survey "@(survey.Description)"?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                @Html.ActionLink("Delete", "Delete", "Survey", new { id = survey.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
}