@model IEnumerable<Mood.Models.Survey>
<h2>Surveys</h2>
<div class="row">
    <!-- ko foreach: app.surveys -->
    <div data-bind="css: 'panel ' + ($data.error() ? 'panel-danger' : 'panel-default')">
        <div class="panel-heading flashable" data-bind="css: flash">
            <h4><a data-bind="text: $data.description(), attr: { href: '/Survey/Get/' + $data.identifier() }"></a></h4>
        </div>
        <div class="panel-body">
            <form>
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <a class="btn btn-default" data-bind="attr: { href: '/Survey/Results/' + $data.identifier() }"><span class="glyphicon glyphicon-signal"></span> Results</a>
                        <label class="btn btn-default btn-sm">
                            <input type="checkbox" checked data-bind="checked: publicResults" /> Public
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">@Url.RouteUrl("SurveyRoute", null, Request.Url.Scheme)/</span>
                        <input type="text" class="form-control" name="name" data-bind="value: $data.name, attr: { placeholder: $data.id }" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-bind="click: copyUrl.bind($data, '@Url.RouteUrl("SurveyRoute", null, Request.Url.Scheme)')"><span class="glyphicon glyphicon-copy"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="btn btn-default"
                            data-bind="click: save.bind($data, '@Url.Action("Edit", "Survey", null, Request.Url.Scheme)')">
                        <span class="glyphicon glyphicon-floppy-save"></span> Save
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-bind="attr: { 'data-target': '#confimDelete' + $data.identifier() }">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </form>
        </div>
        <div class="panel-footer" data-bind="visible: error, text: error"></div>
    </div>
    <!-- /ko -->
    @using (Html.BeginForm("Create", "Survey"))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>New Survey</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    @Html.TextBox("description", "How is your workday going?", new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" value="" class="btn btn-success glyphicon glyphicon-plus" />
                </div>
            </div>
        </div>
    }
</div>



<!-- ko foreach: app.surveys -->
<div class="modal fade" role="dialog" data-bind="attr: {'id': 'confimDelete' + $data.identifier()}">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div classs="modal-header">
                <h3>Are you sure you want to delete survey "<span data-bind="text: $data.description()"></span>"?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="/Survey/Delete/" data-bind="attr: { href: '/Survey/Delete/' + $data.identifier() }">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<script>
    window.surveys = @Html.Raw(Json.Encode(Model))
</script>